[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./manage.py,
       ./biogen_helpdesk_api/config/*,
       ./biogen_helpdesk_api/wsgi.py,
       *__init__*
